<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grizzable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{186,186}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{186,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>grizzable2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,198}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{196,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grizzable.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6342971ccd5e8d534cf5532b65e5dd42:1/1$</string>
            <key>textureFileName</key>
            <string>grizzable.png</string>
        </dict>
    </dict>
</plist>
