<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kingman_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,22},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{8,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>kingman_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,42},{8,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{8,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>kingman_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,22},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{8,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>kingman_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{8,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>kingman_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{8,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{8,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>kingman_down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{8,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{8,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>kingman_down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,2},{8,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{8,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>kingman_down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{8,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{8,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{32,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46e2abbb1999900ac67949a62bc47b93:1/1$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
